<% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h2>
        <%= movie.title %>
      </h2>
      <p>
        <%= truncate(movie.text, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>