<section class="movie-details">
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2>
      Rating: &bull; <%= @movie.rating %>
    </h2>
    <p>
      Descriptions: "<%= @movie.text %>"
    </p>
  </div>
</section>